{% extends 'base.html' %}

{% block title %}
Информация о ТСЖ
{% endblock %}

{% block body %}

    <main>
        <div class="sideBar">
            <div class="sideBar_section">
                <div class="sideBar_item"><a href="#">Новости и объявления</a></div>
                <div class="sideBar_item"><a href="#">Правление ТСЖ</a></div>
                <div class="sideBar_item"><a href="#">Ревизионная комиссия</a></div>
                <div class="sideBar_item"><a href="#">Сотрудники ТСЖ</a></div>
                <div class="sideBar_item"><a href="#">Телефонный справочник</a></div>
                <div class="sideBar_item"><a href="#">Контактная информация</a></div>
            </div>
        </div>
    </main>
{% endblock %}